.article-page {
  padding: 20px;
  max-width: 800px;
  margin: 2rem auto;
}

.article-page > .article-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--text-color);
}

.article-page > .article-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.article-page > .article-author {
  font-size: 1.1em;
  color: var(--third-text-color);
  margin-bottom: 3px;
}

.article-page > .article-date {
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.article-body {
  margin-bottom: 3rem;
}

.article-content {
  display: flex;
  line-height: 1.6;
  margin: 2rem auto;
  padding: 2rem 5rem 2rem;
  border: 1px solid #f8f8f8;
  background-color: var(--third-color);
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 5px 5px 7px -2px #d8d8d8;
  flex-direction: column;
  justify-content: flex-end;
}

.error-404-section {
  text-align: center;
  padding: 20px;
}

.error-404-image {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .article-page > .article-title {
    font-size: 1.3rem;
  }

  .article-content {
    padding: 1em;
    border: none;
    box-shadow: none;
  }

  .icon-votes-box {
    display: flex;
    margin-left: 1rem;
  }
}
