.article-page {
  padding: 20px;
  max-width: 800px;
  margin: 2rem auto;
}

.article-page > .article-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
}

.article-page > .article-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.article-page-info > .article-author {
  font-size: 1rem;
}
.article-page-info > .article-author span {
  color: var(--secondary-text-color);
  font-weight: 300;
  margin-right: 0.2rem;
}
.em-dash {
  margin-left: 1rem;
  color: var(--text-color);
  font-weight: 500;
}
.article-page-info > .article-date,
.article-page > .article-date {
  color: var(--secondary-text-color);
  font-weight: 400;
}
.article-time-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  margin-left: 1rem;
  color: var(--text-color);
  font-weight: 500;
}
.article-time-box p {
  display: flex;
  align-items: center;
}

.clock-img-page {
  margin-right: 0.2rem;
}
.article-page-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.article-page .divider {
  margin: 1rem 0;
}
.article-body {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.article-content {
  display: flex;
  line-height: 1.6;
  margin: 2rem auto;
  padding: 2rem 5rem 2rem;
  border: 1px solid #f8f8f8;
  background-color: var(--white-color);
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  flex-direction: column;
  justify-content: flex-end;
}

.voting-component {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .article-page > .article-title {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
  .article-page-info > .article-author,
  .article-time-box {
    font-size: 0.9rem;
  }
  .em-dash,
  .article-time-box {
    margin-left: 0.6rem;
  }
  .clock-img-page {
    width: 13px;
  }
  .article-content {
    padding: 0 0.5rem;
    border: none;
    box-shadow: none;
    margin: 0 auto;
  }
  .article-body {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }

  .vote-container {
    max-height: 36px;
    font-size: 0.8rem;
    border: 1px solid #e1e1e1;
    border-radius: 1rem;
  }
  img.heart-vote {
    width: 18px;
  }
}

@media (max-width: 480px) {
  .article-page-info .article-author,
  .article-time-box {
    font-size: 0.8rem;
  }
  .em-dash,
  .article-time-box {
    margin-left: 0.3rem;
  }
}
