.not-found,
.error-400-section,
.error-404-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  margin-top: 1rem;
}

.not-found > article,
.error-400-section > article,
.error-404-section > article {
  margin-bottom: 2rem;
}

.not-found h3,
.error-400-section h3,
.error-404-section h3 {
  font-size: 2em;
  margin-bottom: 2rem;
  color: var(--primary-color-dark);
}

.not-found p,
.error-400-section p,
.error-404-section p {
  color: var(--fifth-color);
  font-weight: 600;
  margin-bottom: 1em;
}

.not-found img,
.error-400-image,
.error-404-image {
  max-width: 100%;
  height: auto;
  margin: 1.5em auto;
}

/* .error-400-image,
.error-404-image {
  width: 500px;
  height: auto;
  margin: 0 auto;
} */

/* Media query for smaller screens */
@media (max-width: 768px) {
  .not-found h3,
  .error-400-section h3,
  .error-404-section h3 {
    font-size: 1.2em;
    margin-bottom: 1rem;
    margin-inline: 2rem;
  }

  .not-found p,
  .error-400-section p,
  .error-404-section p {
    margin-inline: 2rem;
    font-size: 0.8em;
    font-weight: 500;
  }

  .not-found img,
  .error-400-image,
  .error-404-image {
    max-width: 80%;
  }
}
