.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
}
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-page h2 {
  margin-bottom: 20px;
  color: var(--text-color);
}

.login-box input {
  width: 140px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--secondary-text-color);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}

.login-page button {
  width: 140px;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  background-color: #0b0b0b;
  color: var(--third-color);
  cursor: pointer;
  font-family: var(--font-family);
  margin: 0;
}

.login-page button:hover {
  background-color: var(--fourth-text-color);
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: var(--success-color);
}

@media (max-width: 480px) {
  .login-page h2 {
    font-size: 1.2rem;
  }
}
