.topics-page {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.topics-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.topics-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topic-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.topic-item a {
  font-size: 1.5em;
  color: var(--primary-color);
  text-decoration: none;
}
.topic-item p {
  margin: 5px 0;
  color: #555;
}
.topic-item:hover,
.topic-item:focus {
  background-color: black;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.topic-item:hover a,
.topic-item:focus a,
.topic-item:hover p,
.topic-item:focus p {
  color: white;
}
